body {
	background-color: var(--light-gray);
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

/* top menu */
.arrow-container {
	font-weight: 200;
	display: flex;
	background-color: var(--dark-gray);
	font-size: 1.5rem;
	justify-content: space-between;
	width: calc(100vw);
	margin-left: -1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.left-arrow {
	text-align: left;
	color: var(--yellow);
}

.right-arrow {
	text-align: right;
	color: var(--orange);
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
  }

.topcontent-1 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: left;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
  }

.topcontent-2 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: center;
	color: var(--dark-gray);
}

.topcontent-3 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: right;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
}

li {
	font-size: 1.2rem;
	padding: 0.3rem;
	text-align: center;
	font-family: 'mencken-std-head-narrow';
	text-transform: uppercase;
	color: var(--dark-gray);
	border-right: 1px solid var(--dark-gray);
	text-align: center;
	font-variant-numeric: lining-nums;
}

ol {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-top: 1px solid var(--dark-gray);
	border-bottom: 1px solid var(--dark-gray);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

li:last-child {
	border-right: none;
}

li:nth-child(2) {
	background-color: var(--blue);
}

/* Hover */
li:nth-child(1):hover {
	background-color: var(--yellow);
}

li:nth-child(2):hover {
	background-color: var(--blue);
}

li:nth-child(3):hover {
	background-color: var(--orange);
}

/* Active */
li:nth-child(1):active {
	background-color: var(--yellow);
}

li:nth-child(2):active {
	background-color: var(--blue);
}

li:nth-child(3):active {
	background-color: var(--orange);
}

/* drop-down menu */
nav {
	width : 100%; 
  }
  
.dropmenu {
	font-family: var(--font-narrow);
	padding: 0.5rem;
	background-color : rgb(98, 168, 229, 0.2); 
	color : var(--dark-gray);
	font-size : 1.2em;
	cursor : pointer;
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid var(--dark-gray);
	margin-top: -0.5rem;
}

.dropmenu::after {
	float: right;
	right: 10%;
	content: "+";
	font-size: 1.8rem;
	font-weight: 800;
	vertical-align:middle;
	font-variant-numeric: lining-nums;
	transform: translateY(-20%);
}

.slide {
	margin-top: 0;
	width:100%;
	height:0px;
	overflow: hidden;
	text-align: center;
	transition: height .4s ease;
}

.slide li {
	padding : 0.5rem;
	background-color: var(--light-gray);
}

.slide li:hover, .slide li:active {
	padding : 0.5rem;
	background-color: var(--blue);
}

#touch {
	position: absolute; 
	opacity: 0; 
	height: 0px;
}

#touch:checked +.slide {
	height: 12rem;
} 

.drop-items {
	font-family: var(--font-narrow);
	background-color: var(--light-gray);
}

.drop-items:hover, .drop-items:active {
	background-color: var(--yellow);
}

h1 {
	text-align: center;
	color: var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

h2 {
	z-index: 1;
	position: sticky;
	top: 0;
	background-color: var(--blue);
	color: var(--dark-gray);
	font-size: 1.9rem;
	text-align: center;
}

.author {
	font-size: 4rem;
	text-align: center;
	border-bottom: 1px solid var(--dark-gray);
}

.year {
	display: none;
}

.title {
	font-family: var(--font-primary);
	text-transform: uppercase;
	display: grid;
	grid-template-columns: auto;
	/* gap: 1rem; */
	text-align: center;
	font-size: 6rem;
	line-height: 1;
}

.highlight {
	display: inline;
	background-color: var(--blue);
	font-size: 5.5rem;
}

.intro {
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
	text-align: center;
}

p {
	font-family: var(--font-secondary);
	color: var(--dark-gray);
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	white-space: normal;
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 0.3rem;
	position: sticky;
	top:0;
	margin-left: -1.5rem;
	width: calc(100vw);
	border-bottom: 1px solid var(--dark-gray);
	background-color: var(--blue);
}

.subtitle-text {
	text-align: left;
	padding-top: 0.6rem;
	padding-left: 1.5rem;
}

.subnumber {
	color: var(--dark-gray);
	font-size: 1.6rem;
	text-align: right;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
	font-variant-numeric: lining-nums;
}

footer {
	font-style: italic;
	font-family: 'source-sans-pro';
	background-color: var(--dark-gray);
	color: var(--light-gray);
	margin-top: 1.25rem;
	padding-left: 1rem;
	font-size: 1.5rem;
	width: calc(100vw);
	margin-left: -1.5rem;
	font-variant-numeric: lining-nums;
}

.footer-left {
	font-size: 1rem;
	text-align: left;
}

.footer-right {
	font-size: 1rem;
	float: right;
	padding-right: 0.5rem;
}

/* .backtotop {
	--offset: 2rem; 
	position: fixed;
	float: right;
	font-size: 1.2rem;
	place-self: end;
	text-transform: uppercase;
	position: sticky;
	bottom: 10rem;
	margin-top: calc(100vh + var(--offset));
	padding: 1rem;
	font-family: var(--font-narrow);
	color: #fff;
	background: var(--dark-gray);
	color: var(--light-gray);
	z-index: 99;
	margin-right: -0.7rem;
}

.backtotop:hover {
	background-color: var(--blue);
} */

@media(min-width: 1280px) {

.arrow-container {
font-weight: 200;
font-size: 2rem;
width: calc(100vw);
}

.topcontent-1, .topcontent-2, .topcontent-3 {
	font-size: 1.7rem;
	}

.topcontent-2 {
	padding-right: 1rem;
}

li {
	font-size: 1.9rem;
	padding: 0.3rem;
}

/* dropdown menu */
.dropmenu {
	font-size : 1.7em;
}

.dropmenu::after {
	font-size: 2.4rem;
}

#touch:checked +.slide {
	height: 17rem;
} 

/* article structure */

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid var(--dark-gray);
}

.author {
	font-size: 3.5rem;
	text-align: left;
	border-bottom: none;
}

.year {
	display: block;
	font-size: 3.5rem;
	text-align: right;
	font-variant-numeric: lining-nums;
}
.bgcolor {
	background-color: var(--blue);
}

.title {
	display: grid;
	/* grid-template-rows: auto auto; */
	font-size: 10rem;
	/* width: 55%; */
	grid-template-rows: 1fr 1fr;
	/* justify-items: center; */
	margin: 0 auto;
	line-height: 0.9;
	position: relative;
	justify-content: left;
}

.color-block {
	position: absolute;
	background-color: var(--blue);
	top: 10px;
	bottom: 10px;
	z-index: -1;
}

.title span {
	display: block;
	font-size: 11rem;
	margin: 0;
  }

.highlight {
	font-size: 7rem;
	background-color: transparent;
	animation: highlightColorChange 2s infinite;
}

.title span:nth-child(1), 
.title span:nth-child(2) {
	grid-row: 1;
}

.title span:nth-child(1), 
.title span:nth-child(3) {
	text-align: right;
	padding-right: 1rem;
}

.title span:nth-child(2),
.title span:nth-child(4) {
	text-align: left;
}

.title span:nth-child(2) {
	text-align: left;
}

.title span:nth-child(3),
.title span:nth-child(4) {
	grid-row: 2;
}

.article {
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 2rem
}

.intro {
	grid-column: 1;
	font-size: 1.1rem;
	background-color: var(--blue);
	border: 1px solid var(--dark-gray);
	padding: 2rem;
	line-height: 1.5;
}

p {
	grid-column: 2;
	font-size: 1.15rem;
	margin-right: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.subtitle {
	grid-column: 2;
	font-size: 1.7rem;
	width: 100%;
	background-color : rgb(98, 168, 229, 1); 
}

.subnumber {
	padding-right: 2rem;
	font-size: 1.7rem;
}

@keyframes highlightColorChange {
	0% {
	  color: var(--dark-gray)
	}

	50% {
	  color: var(--blue)
	}

	100% {
	  color: var(--dark-gray)
	}
  }

}