body {
	background-color: var(--light-gray);
}

h1 {
	text-align: center;
	color: var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

h2 {
	z-index: 1;
	position: sticky;
	top: 0;
	background-color: var(--blue);
	color: var(--dark-gray);
	font-size: 30px;
	text-align: center;
}

.author {
	font-size: 70px;
	text-align: center;
}

.title1 {
	font-size: 90px;
	justify-content: center;
	background-color: var(--blue);
}

.title2 {
	font-size: 90px;
	justify-content: center;
	padding-top: 10px;
}


.intro {
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

p {
	color: var(--dark-gray);
	font-size: 16px;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 20px;
	white-space: normal;
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 20px;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 5px;
	position: sticky;
	top:0;
	width: calc(100vw);
	margin-left: -2rem;
	border-bottom: 1.5px solid var(--dark-gray);
	background-color: var(--blue);
}

.subtitle-text{
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
}

.subnumber{
	color: var(--dark-gray);
	font-size: 25px;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
}