body {
	background-color: var(--light-gray);
}

h1 {
	text-align: center;
	color: var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

h2 {
	z-index: 1;
	position: sticky;
	top: 0;
	background-color: var(--blue);
	color: var(--dark-gray);
	font-size: 1.9rem;
	text-align: center;
}

.author {
	font-size: 4.4rem;
	text-align: center;
}

.title1 {
	font-size: 5.6rem;
	justify-content: center;
	background-color: var(--blue);
}

.title2 {
	font-size: 5.6rem;
	justify-content: center;
	padding-top: 0.6rem;
}


.intro {
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
	text-align: center;
}

p {
	color: var(--dark-gray);
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	white-space: normal;
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 0.3rem;
	position: sticky;
	top:0;
	width: calc(100vw);
	margin-left: -2rem;
	border-bottom: 1.5px solid var(--dark-gray);
	background-color: var(--blue);
}

.subtitle-text {
	text-align: left;
	padding-top: 0.6rem;
	padding-left: 1.25rem;
}

.subnumber {
	color: var(--dark-gray);
	font-size: 1.6rem;
	text-align: right;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
}