body {
	background-color: var(--light-gray);
}

/* top menu */
.arrow-container {
	font-weight: 200;
	display: flex;
	background-color: var(--dark-gray);
	font-size: 1.5rem;
	justify-content: space-between;
	width: calc(100vw);
	margin-left: -1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.left-arrow {
	text-align: left;
	color: var(--green);
}

.right-arrow {
	text-align: right;
	color: var(--blue);
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
  }

.topcontent-1 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: left;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
  }

.topcontent-2 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: center;
	color: var(--dark-gray);
}

.topcontent-3 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: right;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
}

li {
	font-size: 1.2rem;
	padding: 0.3rem;
	text-align: center;
	font-family: 'mencken-std-head-narrow';
	text-transform: uppercase;
	color: var(--dark-gray);
	border-right: 1px solid var(--dark-gray);
	text-align: center;
	font-variant-numeric: lining-nums;
}

ol {
	margin-top: 0.5rem;
	border-top: 1px solid var(--dark-gray);
	border-bottom: 1px solid var(--dark-gray);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

li:last-child {
	border-right: none;
}

li:nth-child(1) {
	background-color: var(--yellow);
}

/* Hover */
li:nth-child(1):hover {
	background-color: var(--yellow);
}

li:nth-child(2):hover {
	background-color: var(--orange);
}

li:nth-child(3):hover {
	background-color: var(--green);
}

/* Active */
li:nth-child(1):active {
	background-color: var(--yellow);
}

li:nth-child(2):active {
	background-color: var(--blue);
}

li:nth-child(3):active {
	background-color: var(--orange);
}

/* drop-down menu */
nav {
	width : 100%; 
  }
  
.dropmenu {
	font-family: var(--font-narrow);
	padding: 0.5rem;
	background : var(--light-gray); 
	color : var(--dark-gray);
	font-size : 1.2em;
	cursor : pointer;
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid var(--dark-gray);
}

.dropmenu::after {
	float: right;
	right: 10%;
	content: "+";
	font-size: 1.8rem;
	font-weight: 800;
	vertical-align:middle;
	font-variant-numeric: lining-nums;
	transform: translateY(-20%);
}

.slide {
	width:100%;
	height:0px;
	overflow: hidden;
	text-align: center;
	transition: height .4s ease;
}

.slide li {
	padding : 0.5rem;
	background-color: var(--light-gray);
}

.slide li:hover, .slide li:active {
	padding : 0.5rem;
	background-color: var(--yellow);
}

#touch {
	position: absolute; 
	opacity: 0; 
	height: 0px;
}    

#touch:checked +.slide {
	height: 10rem;
} 

.drop-items {
	font-family: var(--font-narrow);
	background-color: var(--light-gray);
}

.drop-items:hover, .drop-items:active {
	background-color: var(--yellow);
}

h1 {
	text-align: center;
	color:var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

.author {
	font-size: 4.4rem;
	text-align: center;
}

.title1 { 
	font-size: 10.6rem;
	justify-content: center;
	background-color: var(--yellow);
}

.title2 {
	font-size: 5.6rem;
	justify-content: center;
	padding-top: 0.6rem;
}

h4 {
	font-size: 3rem;
	color: var(--dark-gray);
	background-color: var(--light-gray);
}
.publishyear {
	display: none;
}

.intro {
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
	text-align: center;
}

p {
	color: var(--dark-gray);
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
	white-space: normal;
}

.stick {
	background-color: var(--dark-gray);
	color: var(--dark-gray);
}

.quotesection {
	background-color: var(--yellow);
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
	padding: 1.25rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
}

.mark-1 {
	display: none;
}

.mark-2 {
	display: none;
}

h2 {
	padding-top: 0.6rem;
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 1.3rem;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 0.3rem;
	position: sticky;
	top:0;
	width: calc(100vw);
	margin-left: -1.5rem;
	border-bottom: 1.5px solid var(--dark-gray);
	background-color: var(--yellow);
	padding-left: 0.2rem;
}

.subtitle-text {
	text-align: left;
	padding-top: 0.6rem;
	padding-left: 1.25rem;
}


.subnumber {
	color: var(--dark-gray);
	font-size: 1.6rem;
	text-align: right;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
	font-variant-numeric: lining-nums;
}

.feedback-section {
	position: relative;
	margin-top: 1.25rem;
}
.name {
	color: var(--yellow);
	font-size: 1.25rem;
	font-family: var(--font-narrow);
}

.answers {
	color: var(--light-gray);
	font-family: var(--font-narrow);
	font-size: 1rem;
	line-height: 1.5;
}

.account {
	color: var(--yellow);
	font-size: 0.9rem;
	font-family: var(--font-secondary);
	text-align: right;
}

.name-2 {
	color: var(--dark-gray);
	font-size: 1.25rem;
	font-family: var(--font-narrow);
}

.answers-2 {
	color: var(--dark-gray);
	font-family: var(--font-narrow);
	font-size: 1rem;
	line-height: 1.5;
}

.account-2 {
	color: var(--dark-gray);
	font-size: 0.9rem;
	font-family: var(--font-secondary);
	text-align: right;
}

.stickynote-1 {
	position: sticky;
	z-index: 1;
	top: 2.4rem;
	background-color: var(--dark-gray);
	color: var(--yellow);
	padding: 1.25rem;
}

.stickynote-2 {
	position: sticky;
	z-index: 2;
	top: 4.4rem;
	background-color: var(--yellow);
	color: var(--dark-gray);
	padding: 1.25rem;
}

.stickynote-3 {
	position: sticky;
	z-index: 3;
	top: 6.25rem;
	background-color: var(--dark-gray);
	color: var(--light-gray);
	padding: 1.25rem;
}

.stickynote-4 {
	position: sticky;
	z-index: 4;
	top: 8rem;
	background-color: var(--yellow);
	color: var(--dark-gray);
	padding: 1.25rem;
}

.stickynote-5 {
	position: sticky;
	z-index: 5;
	top: 10rem;
	background-color: var(--dark-gray);
	color: var(--dark-gray);
	padding: 1.25rem;
}

.stickynote-6 {
	position: sticky;
	z-index: 6;
	top: 11.8rem;
	background-color: var(--yellow);
	color: var(--dark-gray);
	padding: 1.25rem;
}

h5 {
	color: var(--yellow);
	font-family: var(--font-narrow);
	font-size: 1.4rem;
	background-color: #1E1E1E;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	text-align: center;
}

.dot {
	color: var(--yellow);
	vertical-align: middle;
}

.looks {
	font-size: 1.9rem;
	vertical-align: middle;
}

h6 {
	background-color: var(--dark-gray);
	color: var(--yellow);
	padding: 0.6rem;
	font-size: 0.75rem;
	margin-top: 1.9rem;
	margin-bottom: 1.9rem;
	transform: rotate(2deg);
}

.h6-2 {
	transform: rotate(-2deg);
	background-color: var(--yellow);
	color: var(--dark-gray);
}

.booktitles-container {
	min-height: 120vh;
	position: relative;
}

.booktitles {
	display: grid;
	grid-template-columns: 0.7fr 1fr;
	gap: 0.5rem;
	top: 5rem;
	margin-bottom: 1rem;
	position: sticky;
	z-index: 1;
}

.book-question {
	font-family: var(--font-narrow);
	font-size: 1.5rem;
	background-color: var(--light-gray);
}

.titles {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--yellow);
	font-family: var(--font-narrow);
	font-size: 1rem;
	line-height: 1.5;
}

.statements {
	background-color: var(--white);
	color: var(--dark-gray);
	font-family: 'mencken-std';
	padding: 1.6rem;
	padding-left: 1.6rem;
	font-size: 1rem;
}

.problems {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.6rem;
	color: var(--dark-gray);
}

.problems-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.6rem;
	color: var(--light-gray);
	margin-top: -1.9rem;
}

.problem {
	color: var(--light-gray);
	background-color: var(--dark-gray);
	font-family: 'mencken-std-head-narrow';
	font-size: 1.25rem;
	line-height: 1.9rem;
	padding: 0.6rem;
}

.letter {
	background-color: var(--white);
	font-family:'typeka', sans-serif;
	font-style: italic;
	padding: 1.25rem;
	font-size: 0.9rem;
	line-height: 1.5;
}

.ways {
	position: sticky;
	z-index: 1;
	top: 2.5rem;
	color: var(--light-gray);
	font-family: 'mencken-std-head-narrow';
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--dark-gray);
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}