body {
	background-color: var(--light-gray);
}

h1 {
	text-align: center;
	color:var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

.author {
	font-size: 70px;
	text-align: center;
}

.title1 { 
	font-size: 170px;
	justify-content: center;
	background-color: var(--yellow);
}

.title2 {
	font-size: 90px;
	justify-content: center;
	padding-top: 10px;
}

h4 {
	font-size: 50px;
	color: var(--dark-gray);
	background-color: var(--light-gray);
}
.publishyear {
	display: none;
}

.intro {
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

p {
	color: var(--dark-gray);
	font-size: 15px;
	line-height: 1.4;
	margin-top: 20px;
	margin-bottom: 20px;
	white-space: normal;
}

.stick {
	background-color: var(--dark-gray);
	color: var(--dark-gray);
}

.quotesection {
	background-color: var(--yellow);
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
}

.mark-1 {
	display: none;
}

.mark-2 {
	display: none;
}

h2 {
	padding-top: 10px;
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 20px;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 5px;
	position: sticky;
	top:0;
	width: calc(100vw);
	margin-left: -2rem;
	border-bottom: 1.5px solid var(--dark-gray);
	background-color: var(--yellow);
}

.subtitle-text {
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
}


.subnumber {
	color: var(--dark-gray);
	font-size: 25px;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
}

.feedback-section {
	position: relative;
	margin-top: 20px;
}
.name {
	color: var(--yellow);
	font-size: 20px;
	font-family: 'mencken-std-head-narrow';
}

.answers {
	color: var(--light-gray);
	font-family: 'mencken-std-head-narrow';
	font-size: 15px;
	line-height: 1.5;
}

.account {
	color: var(--yellow);
	font-size: 14px;
	font-family: 'minion-pro';
	text-align: right;
}

.name-2 {
	color: var(--dark-gray);
	font-size: 20px;
	font-family: 'mencken-std-head-narrow';
}

.answers-2 {
	color: var(--dark-gray);
	font-family: 'mencken-std-head-narrow';
	font-size: 15px;
	line-height: 1.5;
}

.account-2 {
	color: var(--dark-gray);
	font-size: 14px;
	font-family: 'minion-pro';
	text-align: right;
}

.stickynote-1 {
	position: sticky;
	z-index: 1;
	top: 40px;
	background-color: var(--dark-gray);
	color: var(--yellow);
	padding: 20px;
}

.stickynote-2 {
	position: sticky;
	z-index: 2;
	top: 70px;
	background-color: var(--yellow);
	color: var(--dark-gray);
	padding: 20px;
}

.stickynote-3 {
	position: sticky;
	z-index: 3;
	top: 100px;
	background-color: var(--dark-gray);
	color: var(--light-gray);
	padding: 20px;
}

.stickynote-4 {
	position: sticky;
	z-index: 4;
	top: 130px;
	background-color: var(--yellow);
	color: var(--dark-gray);
	padding: 20px;
}

.stickynote-5 {
	position: sticky;
	z-index: 5;
	top: 160px;
	background-color: var(--dark-gray);
	color: var(--dark-gray);
	padding: 20px;
}

.stickynote-6 {
	position: sticky;
	z-index: 6;
	top: 190px;
	background-color: var(--yellow);
	color: var(--dark-gray);
	padding: 20px;
}

h5 {
	color: var(--yellow);
	font-family: 'mencken-std-head-narrow';
	font-size: 22px;
	background-color: #1E1E1E;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}

.looks {
	font-size: 30px;
}

h6 {
	background-color: var(--dark-gray);
	color: var(--yellow);
	padding: 10px;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
	transform: rotate(2deg);
}

.h6-2 {
	transform: rotate(-2deg);
	background-color: var(--yellow);
	color: var(--dark-gray);
}

.statements {
	background-color: var(--white);
	color: var(--dark-gray);
	font-family: 'mencken-std-head-narrow';
	padding: 10px;
	padding-left: 25px;
	font-size: 18px;
}

.problems {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	color: var(--dark-gray);
}

.problems-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	color: var(--light-gray);
	margin-top: -30px;
}

.problem {
	color: var(--light-gray);
	background-color: var(--dark-gray);
	font-family: 'mencken-std-head-narrow';
	font-size: 20px;
	line-height: 30px;
	padding: 10px;
}

.letter {
	background-color: var(--white);
	font-family:'typeka', sans-serif;
	font-style: italic;
	padding: 20px;
	font-size: 15px;
	line-height: 1.5;
}

.ways {
	position: sticky;
	z-index: 1;
	top: 40px;
	color: var(--light-gray);
	font-family: 'mencken-std-head-narrow';
	font-size: 20px;
	text-align: center;
	background-color: var(--dark-gray);
	margin-top: 6px;
	margin-bottom: 6px;
}