body {
	background-color: var(--dark-gray);
}
input {
	display: none;
  }
  
  .open {
	z-index: 11;
	background-color: var(--light-gray);
	width: 1.5rem;
	height: 2px;
	display: block;
	cursor: pointer;
	position: relative;
	top: 0.9rem;
  }
  
  .open:before {
	z-index: 11;
	content: "";
	background-color: var(--light-gray);
	width: 1.5rem;
	height: 2px;
	display: block;
	position: relative;
	top: -0.5rem;
	transform: rotate(0deg);
	transition: all 0.3s ease;
  }
  
  .open:after {
	z-index: 11;
	content: "";
	background-color: var(--light-gray);
	width: 1.5rem;
	height: 2px;
	display: block;
	position: relative;
	top: 0.375rem;
	transform: rotate(0deg);
	transition: all 0.3s ease;
  }
  
  .menuOpen {
	width: 1.5rem;
	height: 1.25rem;
	display: block;
	padding: 0.9rem;
	cursor: pointer;
	float: right;
  }
  
  .menuOpen:hover .open:before {
	top: -0.56rem;
  }
  
  .menuOpen:hover .open:after {
	top: 0.3rem;
  }
  
  .menu {
	z-index: 10;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: var(--dark-gray);
	margin-bottom: 0.93rem;
  }
  
  .menu label {
	width: 1.9rem;
	height: 1.9rem;
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
	background-size: 100%;
	cursor: pointer;
	z-index: 10;
  }
  
  .menu .menuContent {
	position: relative;
	top: 50%;
	font-size: 3.3rem;
	text-align: center;
	padding-bottom: 1.25rem;
	margin-top: -10.7rem;
  }
  
  .menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
  }
  
  .menu ul li a {
	position: relative;
	overflow: hidden;
	display: block;
	color: var(--light-gray);
	text-decoration: none;
	transition: color 0.2s;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	padding: 0.62rem 0;
  }

  .menu ul li a:hover {
	left: 0;
	color: var(--dark-gray);
  }
  
  .menu ul li:hover {
	background: var(--light-gray);
  }
  
  .menuEffects {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
	transform: translateY(0%);
	transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
	opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
	background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
	content: "";
	background-color: var(--light-gray);
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
	content: "";
	background-color: var(--light-gray);
	transform: rotate(-45deg);
	position: relative;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
	transform: translateY(-30%);
  }  
  

h2 {
	font-size: 2.5rem;
	text-align: left;
	color: var(--light-gray);
}
h1{
	font-size: 7.5rem;
	font-weight: normal;
	text-align: center;
	color: var(--light-gray);
	padding: 0;
	line-height: 0.8;
}

.overlap-cards {
	margin-left: 1.25rem;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	position: absolute;
	background-color: var(--light-gray);
	box-shadow: 0 2px 6px rgb(0,0,0,0.1);
	padding: 1.6rem;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

/* card-hover-clicked */

.card:hover, .card.clicked {
	transform: scale(1.1) rotate(0deg) translateY(0) !important;
	z-index: 10;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


h3{
	font-size: 1.9rem;
	text-align: center;
	color: var(--dark-gray);
	border-bottom: 1px solid: var(--dark-gray);
	margin-bottom: 0.6rem;
	padding-bottom: 0.6rem;
	padding-top: -0.6rem;
}

.h3-2 {
	font-size: 1.9rem;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color: var(--dark-gray);
	border-bottom: 1px solid: var(--dark-gray);
	margin-bottom: 0.6rem;
	padding-bottom: 0.6rem;
	padding-top: -0.6rem;
}

.card-1 {
	background-color: var(--green);
	transform: rotate(-15deg) translateY(50px);
	z-index: 1;
}

.card-2 {
	background-color: var(--blue);
	transform: rotate(20deg) translateY(-20px);
	z-index: 2;
}

.card-3{
	background-color: var(--yellow);
	transform: rotate(10deg) translateY(-10px);
	z-index: 3;
}

.card-4{
	background-color: var(--light-gray);
	transform: rotate(0deg) translateY(-10px);
	z-index: 4;
	margin-left: -1.25rem;
}

.card-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
	font-family: 'mencken-std-head-compress';
	color: var(--dark-gray);
}


.card-text-2 {
	font-size: 0.9rem;
	font-family: 'minion-pro';
	color: var(--dark-gray);
}

.card-text{
	font-size: 0.9rem;
	font-family: 'minion-pro';
	color: var(--dark-gray);
}

.read-more {
	font-family: 'mencken-std-head-compress';
	display: inline-block;
	font-size: 1.9rem;
	color: var(--dark-gray);
	display: block;
	text-align: right;
	padding-top: 0.6rem;
}

.read-more-2 {
	font-family: 'mencken-std-head-compress';
	display: inline-block;
	font-size: 1.9rem;
	color: var(--dark-gray);
	display: block;
	text-align: right;
	padding-top: 0.6rem;
}


.footer {
	font-size: 3.25rem;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color: var(--light-gray);
	padding: 0;
	line-height: 0.8;
	padding-top: 4.4rem;
}

h4{
	margin-top: 1.25rem;
	padding: 0.3rem;
	font-size: 1.6rem;
	color: var(--dark-gray);
	background-color: var(--light-gray);
	text-align: center;
	width: calc(100vw);
	margin-left: -1.9rem;
}

