body {
	background-color: #1E1E1E;
}
input {
	display: none;
  }
  
  .open {
	z-index: 11;
	background-color: #efefef;
	width: 24px;
	height: 2px;
	display: block;
	cursor: pointer;
	position: relative;
	top: 15px;
  }
  
  .open:before {
	z-index: 11;
	content: "";
	background-color: #efefef;
	width: 24px;
	height: 2px;
	display: block;
	position: relative;
	top: -8px;
	transform: rotate(0deg);
	transition: all 0.3s ease;
  }
  
  .open:after {
	z-index: 11;
	content: "";
	background-color: #efefef;
	width: 24px;
	height: 2px;
	display: block;
	position: relative;
	top: 6px;
	transform: rotate(0deg);
	transition: all 0.3s ease;
  }
  
  .menuOpen {
	width: 24px;
	height: 20px;
	display: block;
	padding: 15px;
	cursor: pointer;
	float: right;
  }
  
  .menuOpen:hover .open:before {
	top: -9px;
  }
  
  .menuOpen:hover .open:after {
	top: 5px;
  }
  
  .menu {
	z-index: 10;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #1E1E1E;
	margin-bottom: 15px;
  }
  
  .menu label {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	background-size: 100%;
	cursor: pointer;
	z-index: 10;
  }
  
  .menu .menuContent {
	position: relative;
	top: 50%;
	font-size: 54px;
	text-align: center;
	padding-bottom: 20px;
	margin-top: -170px;
  }
  
  .menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
  }
  
  .menu ul li a {
	position: relative;
	overflow: hidden;
	display: block;
	color: #efefef;
	text-decoration: none;
	transition: color 0.2s;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	padding: 10px 0;
  }

  .menu ul li a:hover {
	left: 0;
	color: #1E1E1E;
  }
  
  .menu ul li:hover {
	background: #efefef;
  }
  
  .menuEffects {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
	transform: translateY(0%);
	transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
	opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
	background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
	content: "";
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
	content: "";
	background-color: white;
	transform: rotate(-45deg);
	position: relative;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
	transform: translateY(-30%);
  }  
  

h2 {
	font-size: 40px;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: left;
	color:#efefef;
}
h1{
	font-size: 120px;
	font-weight: normal;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color: #efefef;
	padding: 0;
	line-height: 0.8;
}

.overlap-cards {
	margin-left: 20px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0 2px 6px rgb(0,0,0,0.1);
	padding: 25px;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

/* card-hover-clicked */

.card:hover, .card.clicked {
	transform: scale(1.1) rotate(0deg) translateY(0) !important;
	z-index: 10;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


h3{
	font-size: 30px;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color:#1E1E1E;
	border-bottom: 1px solid #1E1E1E;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: -10px;
}

.h3-2 {
	font-size: 30px;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color:#1E1E1E;
	border-bottom: 1px solid #1E1E1E;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: -10px;
}

.card-1 {
	background-color: #4ef9a3;
	transform: rotate(-15deg) translateY(50px);
	z-index: 1;
}

.card-2 {
	background-color: #78eae7;
	transform: rotate(20deg) translateY(-20px);
	z-index: 2;
}

.card-3{
	background-color: #e0ff00;
	transform: rotate(10deg) translateY(-10px);
	z-index: 3;
}

.card-4{
	background-color: #efefef;
	transform: rotate(0deg) translateY(-10px);
	z-index: 4;
	margin-left: -20px;
}

.card-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	font-family: 'mencken-std-head-compress';
	color: #1E1E1E;
}


.card-text-2 {
	font-size: 15px;
	font-family: 'minion-pro';
	color: #1E1E1E;
}

.card-text{
	font-size: 15px;
	font-family: 'minion-pro';
	color: #1E1E1E;
}

.read-more {
	font-family: 'mencken-std-head-compress';
	display: inline-block;
	font-size: 30px;
	color: #1E1E1E;
	display: block;
	text-align: right;
	padding-top: 10px;
}

.read-more-2 {
	font-family: 'mencken-std-head-compress';
	display: inline-block;
	font-size: 30px;
	color: #1E1E1E;
	display: block;
	text-align: right;
	padding-top: 10px;
}


.footer {
	font-size: 52px;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color:#efefef;
	padding: 0;
	line-height: 0.8;
	padding-top: 70px;
}

h4{
	margin-top: 20px;
	padding: 5px;
	font-size: 25px;
	font-family: 'mencken-std-head-compress';
	color:#1E1E1E;
	background-color: #efefef;
	text-align: center;
	background-color: ;
	width: calc(100vw);
	margin-left: -1.9rem;
}
