body {
	background-color: var(--light-gray);
	overflow-x: hidden;
}

/* top menu */
.arrow-container {
	font-weight: 200;
	display: flex;
	background-color: var(--dark-gray);
	color: var(--light-gray);
	font-size: 1.5rem;
	justify-content: space-between;
	width: calc(100vw);
	margin-left: -1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.left-arrow {
	text-align: left;
}

.right-arrow {
	text-align: right;
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
  }

.topcontent-1 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: left;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
  }

.topcontent-2 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: center;
	color: var(--dark-gray);
}

.topcontent-3 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: right;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
}

li {
	font-size: 1.2rem;
	padding: 0.3rem;
	text-align: center;
	font-family: 'mencken-std-head-narrow';
	text-transform: uppercase;
	color: var(--dark-gray);
	border-right: 1px solid var(--dark-gray);
	text-align: center;
	font-variant-numeric: lining-nums;
}

ol {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-top: 1px solid var(--dark-gray);
	border-bottom: 1px solid var(--dark-gray);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

li:last-child {
	border-right: none;
}

/* Hover */
li:nth-child(1):hover {
	background-color: var(--yellow);
}

li:nth-child(2):hover {
	background-color: var(--blue);
}

li:nth-child(3):hover {
	background-color: var(--orange);
}

/* Active */
li:nth-child(1):active {
	background-color: var(--yellow);
}

li:nth-child(2):active {
	background-color: var(--blue);
}

li:nth-child(3):active {
	background-color: var(--orange);
}

h1 {
	font-size: 3.3rem;
	text-align: center;
	color: var(--dark-gray);
	padding: 0;
	line-height: 1;
}


.title1 {
	font-size: 4rem;
}

h2 {
	text-transform: capitalize;
	font-size: 2rem;
	text-align: center;
	color: #898989;
	margin-bottom: 1rem;
}

/* cards */

.overlap-cards {
	margin-top: 1.7rem;
	margin-left: 1.25rem;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	position: absolute;
	background-color: var(--light-gray);
	box-shadow: 0 2px 6px rgb(0,0,0,0.1);
	padding: 1.6rem;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

/* card-hover, clicked */

.card:hover, .card.clicked {
	transform: scale(1.1) rotate(0deg) translateY(0);
	z-index: 10;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* card design */

h3{
	font-size: 1.9rem;
	text-align: center;
	color: var(--dark-gray);
	border-bottom: 1px solid: var(--dark-gray);
	margin-bottom: 0.6rem;
	padding-bottom: 0.6rem;
	padding-top: -0.6rem;
}

.h3-2 {
	font-size: 1.9rem;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color: var(--dark-gray);
	border-bottom: 1px solid: var(--dark-gray);
	margin-bottom: 0.6rem;
	padding-bottom: 0.6rem;
	padding-top: -0.6rem;
}

.card-1 {
	background-color: var(--orange);
	transform: rotate(-30deg) translateY(40px) translateX(-20px);
	z-index: 2;
}

.card-2 {
	background-color: var(--blue);
	transform: rotate(20deg) translateY(-20px);
	z-index: 3;
}

.card-3{
	background-color: var(--yellow);
	transform: rotate(-10deg) translateY(-10px);
	z-index: 4;
}

.card-4{
	background-color: #DCDDDD;
	transform: rotate(0deg) translateY(-10px) translateX(10px);
	z-index: 5;
	margin-left: -0.2rem;
}

.card-5{
	background-color: var(--green);
	transform: rotate(-20deg) translateY(-100px);
	z-index: 1;
	margin-left: -0.2rem;
}

.card-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
	font-family: 'mencken-std-head-compress';
	color: var(--dark-gray);
}


.card-text-2 {
	font-size: 0.9rem;
	font-family: 'minion-pro';
	color: var(--dark-gray);
}

.card-text{
	font-size: 0.9rem;
	font-family: 'minion-pro';
	color: var(--dark-gray);
}

/* card read more */

.read-more {
	font-family: 'mencken-std-head-compress';
	display: inline-block;
	font-size: 1.9rem;
	color: var(--dark-gray);
	display: block;
	text-align: right;
	padding-top: 0.6rem;
}

.read-more-2 {
	font-family: 'mencken-std-head-compress';
	display: inline-block;
	font-size: 1.9rem;
	color: var(--dark-gray);
	display: block;
	text-align: right;
	padding-top: 0.6rem;
}


footer {
	font-family: 'hanken-grotesk';
	background-color: var(--dark-gray);
	color: var(--light-gray);
	font-weight: 400;
	margin-top: 1.25rem;
	padding-left: 2rem;
	font-size: 1.5rem;
	width: calc(100vw);
	margin-left: -1.5rem;
	font-variant-numeric: lining-nums;
}

.footer-left {
	font-size: 1rem;
	text-align: left;
}

.footer-right {
	font-size: 1rem;
	float: right;
	padding-right: 0.5rem;
}


/* All media queries */

/* Desktop Media Query */
@media(min-width:1280px) {

.arrow-container {
font-weight: 200;
font-size: 2rem;
width: calc(100vw);
}

.topcontent-1, .topcontent-2, .topcontent-3 {
	font-size: 1.7rem;
  }

.topcontent-2 {
	padding-right: 1rem;
}

li {
	font-size: 1.9rem;
	padding: 0.3rem;
}

h1 {
	font-size: 10rem;
	margin-top: -0.5rem;
}

.title1 {
	font-size: 10rem;
}

/* cards */
.overlap-cards {
	display: flex;
	margin-top: -5rem;
}

.card {
	flex: 0 0 auto;
	z-index: 1;
	width: auto;
	padding: 2rem;
}

.card:hover, .card.clicked {
	transform: scale(1.1) rotate(0deg) ;
	z-index: 10;
}

.card-1:hover {
	transform: rotate(0deg) translateY(40px) translateX(-500px) scale(1.1);
	}

.card-2:hover {
	transform: rotate(0deg) translateY(-20px) translateX(-300px) scale(1.1);
	}

.card-3:hover {
	transform: rotate(0deg) translateY(-20px) translateX(-100px) scale(1.1);
	}

.card-4:hover {
	transform: rotate(0deg) translateY(20px) translateX(250px) scale(1.1);
	}

.card-5:hover {
	transform: rotate(0deg) translateY(40px) translateX(500px) scale(1.1);
	}

/* card design */

h3, .h3-2 {
	font-size: 2rem;
}

.card-1 {
	width: 25rem;
	transform: rotate(5deg) translateY(40px) translateX(-500px);
	z-index: 2;
}

.card-2 {
	width: 25rem;
	transform: rotate(-7deg) translateY(-20px) translateX(-300px);
	z-index: 3;
}

.card-3 {
	width: 25rem;
	transform: rotate(5deg) translateY(-20px) translateX(-100px);
	z-index: 4;
}

.card-4 {
	width: 30rem;
	transform: rotate(0deg) translateY(20px) translateX(250px);
	z-index: 5;
}

.card-5 {
	width: 25rem;
	transform: rotate(-10deg) translateY(40px) translateX(500px);
	z-index: 1;
}

.card-title{
	font-size: 3rem;
}

.card-text, .card-text-2 {
	font-size: 1rem;
}

/* card read more */

.read-more, .read-more-2 {
	font-size: 2.3rem;
}

footer {
	font-size: 1.8rem;
	padding: 0.4rem;
}

.footer-left, .footer-right {
	font-size: 1.8rem;
}

}
