body {
	background-color: var(--light-gray);
}
h1 {
	text-align: center;
	color: var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

/* top menu */
.arrow-container {
	font-weight: 200;
	display: flex;
	background-color: var(--dark-gray);
	font-size: 1.5rem;
	justify-content: space-between;
	width: calc(100vw);
	margin-left: -1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.left-arrow {
	text-align: left;
	color: var(--blue);
}

.right-arrow {
	text-align: right;
	color: var(--green);
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
  }

.topcontent-1 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: left;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
  }

.topcontent-2 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: center;
	color: var(--dark-gray);
}

.topcontent-3 {
	font-family: 'mencken-std-head-narrow';
	font-size: 1.3rem;
	text-align: right;
	color: var(--dark-gray);
	font-variant-numeric: lining-nums;
}

li {
	font-size: 1.2rem;
	padding: 0.3rem;
	text-align: center;
	font-family: 'mencken-std-head-narrow';
	text-transform: uppercase;
	color: var(--dark-gray);
	border-right: 1px solid var(--dark-gray);
	text-align: center;
	font-variant-numeric: lining-nums;
}

ol {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-top: 1px solid var(--dark-gray);
	border-bottom: 1px solid var(--dark-gray);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

li:last-child {
	border-right: none;
	background-color: var(--orange);
}


/* Hover */
li:nth-child(1):hover {
	background-color: var(--yellow);
}

li:nth-child(2):hover {
	background-color: var(--blue);
}

li:nth-child(3):hover {
	background-color: var(--orange);
}

/* Active */
li:nth-child(1):active {
	background-color: var(--yellow);
}

li:nth-child(2):active {
	background-color: var(--blue);
}

li:nth-child(3):active {
	background-color: var(--orange);
}

/* drop-down menu */
nav {
	width : 100%; 
  }
  
.dropmenu {
	font-family: var(--font-narrow);
	padding: 0.5rem;
	background-color : rgb(255, 102, 94, 0.2); 
	color : var(--dark-gray);
	font-size : 1.2em;
	cursor : pointer;
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid var(--dark-gray);
	margin-top: -0.5rem;
}

.dropmenu::after {
	float: right;
	right: 10%;
	content: "+";
	font-size: 1.8rem;
	font-weight: 800;
	vertical-align:middle;
	font-variant-numeric: lining-nums;
	transform: translateY(-20%);
}

.slide {
	margin-top: 0;
	width:100%;
	height:0px;
	overflow: hidden;
	text-align: center;
	transition: height .4s ease;
}

.slide li {
	padding : 0.5rem;
	background-color: var(--light-gray);
}

.slide li:hover, .slide li:active {
	padding : 0.5rem;
	background-color: var(--orange);
}

#touch {
	position: absolute; 
	opacity: 0; 
	height: 0px;
}    

#touch:checked +.slide {
	height: 12rem;
} 

.drop-items {
	font-family: var(--font-narrow);
	background-color: var(--light-gray);
}

.drop-items:hover, .drop-items:active {
	background-color: var(--yellow);
}

.author {
	font-size: 4rem;
	text-align: center;
	border-bottom: 1px solid var(--dark-gray);
	margin-bottom: 0.5rem;
}

.title {
	text-align: center;
	display: inline-block;
	margin-bottom: -1rem;
}

.title1 {
	font-size: 8rem;
	text-align: center;
	background-color: var(--orange);
	padding-top: 0.6rem;
	margin-bottom: 1.25rem;
	display: inline;
	display: inline-block;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 0.2rem;
}

.title2 {
	font-size: 5.6rem;
	text-align: center;
	display: inline;
	display: inline-block;
}

.intro {
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 1.25rem;
	text-align: center;
}

p{
	color: var(--dark-gray);
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	white-space: normal;
}

.quotesection {
	background-color: var(--orange);
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
}

h6 {
	background-color: var(--dark-gray);
	color: var(--orange);
	padding: 0.6rem;
	font-size: 0.75rem;
	margin-top: 1.9rem;
	margin-bottom: 1.9rem;
	transform: rotate(2deg);
}

.h6-2 {
	transform: rotate(-2deg);
	background-color: var(--light-gray);
	color: var(--dark-gray);
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 0.3rem;
	position: sticky;
	top:0;
	width: calc(100vw);
	margin-left: -1.5rem;
	border-bottom: 1px solid var(--dark-gray);
	background-color: var(--orange);
}

.subtitle-text {
	text-align: left;
	padding-top: 0.6rem;
	padding-left: 1.25rem;
}

.subnumber {
	color: var(--dark-gray);
	font-size: 1.5rem;
	text-align: right;
	padding-top: 0.3rem;
	padding-right: 0.5rem;
	font-variant-numeric: lining-nums;
}

.endcontent {
	text-align: left;
	font-size: 3.5rem;
	margin-bottom: 0.5rem;
}

footer {
	font-style: italic;
	font-family: 'source-sans-pro';
	background-color: var(--dark-gray);
	color: var(--light-gray);
	margin-top: 1.25rem;
	padding-left: 1rem;
	font-size: 1.5rem;
	width: calc(100vw);
	margin-left: -1.5rem;
	font-variant-numeric: lining-nums;
}

.footer-left {
	font-size: 1rem;
	text-align: left;
}

.footer-right {
	font-size: 1rem;
	float: right;
	padding-right: 0.5rem;
}