body {
	background-color: var(--light-gray);
}
h1{
	text-align: center;
	color: var(--dark-gray);
	padding: 0;
	line-height: 0.8;
}

.author{
	font-size: 4.7rem;
	text-align: center;
}

.title1{
	font-size: 8rem;
	justify-content: center;
	background-color: var(--green);
	padding-top: 0.6rem;
	margin-bottom: 1.25rem;
}

.title2{
	font-size: 5.6rem;
	justify-content: center;
}


.subtitle{
	z-index: 1;
	top: 0;
	position: sticky;
	font-size: 1.6rem;
	font-style: italic;
	text-align: center;
	background-color: var(--light-gray);
}

p{
	color: var(--dark-gray);
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	white-space: normal;
}

.quotesection {
	background-color: var(--green);
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
}

h6 {
	background-color: var(--dark-gray);
	color: var(--green);
	padding: 0.6rem;
	font-size: 0.75rem;
	margin-top: 1.9rem;
	margin-bottom: 1.9rem;
	transform: rotate(2deg);
}

.h6-2 {
	transform: rotate(-2deg);
	background-color: var(--light-gray);
	color: var(--dark-gray);
}

.subtitle {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	z-index: 7;
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--light-gray);
	color: var(--dark-gray);
	padding-bottom: 0.3rem;
	position: sticky;
	top:0;
	width: calc(100vw);
	margin-left: -2rem;
	border-bottom: 1.5px solid: var(--dark-gray);
	background-color: var(--green);
}

.subtitle-text {
	text-align: left;
	padding-top: 0.6rem;
	padding-left: 1.25rem;
}

.subnumber {
	color: var(--dark-gray);
	font-size: 1.6rem;
	text-align: right;
	padding-top: 0.3rem;
	padding-right: 0.3rem;
}