:root {
/* colors */
--dark-gray: #1E1E1E;
--light-gray: #EFEFEF;
--yellow: #E3ED55;
--blue: #62A8E5;
--green: #62c2b1;
--orange: #FF665E;
--white: #FFFFFF;

/* fonts */
--font-primary: 'mencken-std-head-compress';
--font-secondary: 'minion-pro';
--font-narrow: 'mencken-std-head-narrow';
--font-quote:'typeka';

}

body{
	/* margin-top: 1.8rem; */
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

h1 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h2 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h3 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h4 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h6 {
	font-family: var(--font-quote);
}

p {
	font-family: var(--font-secondary);
}

.author {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

.subtitle {
	font-family: var(--font-narrow);
	text-transform: uppercase;
}

.quotesection {
	font-style: italic;
	font-family: var(--font-quote);
}