:root {
/* colors */
--dark-gray: #1E1E1E;
--light-gray: #EFEFEF;
--yellow: #e0ff00;
--blue: #78EAE7;
--green: #4EF9A3;
--white: #FFFFFF;

/* fonts */
--font-primary: 'mencken-std-head-compress';
--font-secondary: 'minion-pro';
--font-quote:'typeka';

}

body{
	margin-top: 1.8rem;
	margin-left: 1.8rem;
	margin-right: 1.8rem;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

h1 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h2 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h3 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h4 {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

h6 {
	font-family: var(--font-quote);
}

p {
	font-family: var(--font-secondary);
}

.author {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

.subtitle {
	font-family: var(--font-primary);
	text-transform: uppercase;
}

.quotesection {
	font-style: italic;
	font-family: var(--font-quote);
}