body{
	background-color: #1E1E1E;
}
.heading{
	background-color: #EFEFEF;
	margin-bottom: 20px;
	overflow: hidden;
	padding-left: 0;
	margin: 0;
}
h1{
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 120px;
	text-transform: uppercase;
	color: #1E1E1E;
	text-align: left;
	padding: 0;
}
h4{
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	color: #1E1E1E;
}
.publishyear{
	font-size: 100px;
	font-family: 'NeueBit';
	font-weight: bold;
	margin-top: -20px;
	margin-bottom: -70px;
	color: #00FFBC;
	line-height: 0.7;
	text-align: right;
	transform: rotate(90deg)translateY(-150px) translateX(-110px);
}

p{
	font-family: 'haboro-soft';
	color: #EFEFEF;
	font-size: 15px;
	line-height: 1.5;
}

.intro{
	font-family: 'haboro-soft';
	font-style: italic;
	color: #EFEFEF;
	margin-bottom: 20px;
	margin-top: 20px;
}
.quotesection{
	background-color: #EFEFEF;
	margin-top: 20px;
	padding: 20px;
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 40px;
	line-height: 35px;
}

.quote{
	font-family: 'NeueBit';
	font-weight: bold;
	color: #00FFBC;
	font-size: 60px;
}

.mark-1{
	font-size: 200px;
	color: #00FFBC;
	font-family: 'NeueBit';
	font-weight: bold;
	margin: auto;
	margin-bottom: -110px;
	text-align: left;
	margin-top: 10px;
	line-height: 0.8;
}
.mark-2{
	font-size: 200px;
	color: #00FFBC;
	font-family: 'NeueBit';
	font-weight: bold;
	margin: auto;
	margin-bottom: -70px;
	text-align: right;
	line-height: 0.8;
}

.subtitle{
	background-color: #00FFBC;
	margin-bottom: 20px;
	position: sticky;
}
h2{
	padding: 0;
	font-size: 90px;
	color:#1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	text-transform: uppercase;
}

.stickynote-1{
	background-color: #00FFBC;
	color: #1E1E1E;
	color:#1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
	width: 300px;
	margin-top: 30px;
}

.name{
	color:#1E1E1E;
	font-size: 40px;
}

.answers{
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 30px;
	line-height: 1;
}

.account{
	color:#1E1E1E;
	font-size: 20px;
	text-align: right;
}

.stickynote-2{
	background-color: #EFEFEF;
	color: #1E1E1E;
	color:#1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
	width: 300px;
	height: 180px;
	transform: translateY(-10px) translateX(80px);
}

.stickynote-3{
	background-color: #00FFBC;
	color: #1E1E1E;
	color:#1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
	width: 300px;
	height: 180px;
	transform: translateY(-30px) translateX(30px);
}

@font-face {
	font-family: 'NeueBit';
	src: url('/fonts/NeueBit-Bold.woff2) format('woff2'),
		url('/fonts/NeueBit-Bold.woff') format('woff');
		 font-weight: bold;
}