body{
	background-color: #1E1E1E;
}
.heading{
	background-color: #EFEFEF;
	margin-bottom: 20px;
}
h1{
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 110px;
	text-transform: uppercase;
	color: #1E1E1E;
}
h4{
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	color: #1E1E1E;
}
.publishyear{
	font-size: 100px;
	font-family: 'NeueBit';
	font-weight: bold;
	margin-top: -20px;
	margin-bottom: -70px;
	color: #00FFBC;
}

p{
	font-family: 'haboro-soft';
	color: #EFEFEF;
	font-size: 15px;
}

.intro{
	font-family: 'haboro-soft';
	font-style: italic;
	color: #EFEFEF;
	margin-bottom: 20px;
}
.quotesection{
	background-color: #EFEFEF;
	margin-top: 20px;
}

.quote{
	font-family: 'NeueBit';
	font-weight: bold;
	color: #00FFBC;
	font-size: 70px;
}

@font-face {
	font-family: 'NeueBit';
	src: url('/fonts/NeueBit-Bold.woff2) format('woff2'),
		url('/fonts/NeueBit-Bold.woff') format('woff');
		 font-weight: bold;
}