body{
	margin-left: 10px;
	margin-right: 10px;
	background-color: #EFEFEF;
}

.heading{
}

h1{
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
	color:#1E1E1E;
	padding: 0;
	line-height: 0.8;
}

.author{
	font-size: 70px;
	font-family: 'mencken-std-head-compress';
	text-transform: uppercase;
	text-align: center;
}

.title1{
	font-size: 170px;
	justify-content: center;
	background-color: #e0ff00;
}

.title2{
	font-size: 90px;
	justify-content: center;
	padding-top: 10px;
}

h4{
	font-family: 'mencken-std-head-narrow';
	font-size: 50px;
	color: #1E1E1E;
	background-color: #EFEFEF;
}
.publishyear{
	display: none;
}

.intro{
	font-family: 'minion-pro';
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
}

p{
	font-family: 'minion-pro';
	color: #1E1E1E;
	font-size: 15px;
	line-height: 1.5;
}

.quotesection{
	background-color: #e0ff00;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	font-family: 'mencken-std-head-narrow';
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.mark-1{
	display: none;
}

.mark-2{
	display: none;
}

.subtitle{
	font-family: 'mencken-std-head-narrow';
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	background-color: #EFEFEF;
	color: #1E1E1E;
	margin-bottom: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	padding-top: 2px;
	position: sticky;
	top:0;
}

.subtitle-3{
	font-family: 'mencken-std-head-narrow';
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	background-color: #EFEFEF;
	color: #1E1E1E;
	padding-bottom: 50px;
	position: sticky;
	top:0;
}

.subnumber{
	color: #1E1E1E;
	border-bottom: 3px solid #1E1E1E;
	background-color: #e0ff00;
	font-size: 40px;
	text-align: right;
}

.feedback-section{
	position: relative;
	margin-top: 20px;
}
.name{
	color:#e0ff00;
	font-size: 30px;
	font-family: 'mencken-std-head-narrow';
}

.answers{
	color: #EFEFEF;
	font-family: 'mencken-std-head-narrow';
	font-size: 20px;
	line-height: 1.5;
}

.account{
	color:#e0ff00;
	font-size: 15px;
	font-family: 'minion-pro';
	text-align: right;
}

.stickynote-1{
	position: sticky;
	z-index: 1;
	top: 0px;
	background-color: #1E1E1E;
	color: #e0ff00;
	padding: 20px;
}

.stickynote-2{
	position: sticky;
	z-index: 2;
	top: 0px;
	background-color: #1E1E1E;
	color: #1E1E1E;
	padding: 20px;
}

.stickynote-3{
	position: sticky;
	z-index: 3;
	top: 0px;
	background-color: #1E1E1E;
	color: #EFEFEF;
	padding: 20px;
}

.stickynote-4{
	position: sticky;
	z-index: 4;
	top: 0px;
	background-color: #1E1E1E;
	color: #1E1E1E;
	padding: 20px;
}

.stickynote-5{
	position: sticky;
	z-index: 5;
	top: 0px;
	background-color: #1E1E1E;
	color: #1E1E1E;
	padding: 20px;
}

.stickynote-6{
	position: sticky;
	z-index: 6;
	top: 0px;
	background-color: #1E1E1E;
	color: #1E1E1E;
	padding: 20px;
}

h5{
	color: #1E1E1E;
	font-family: 'mencken-std-head-narrow';
	font-size: 40px;
	background-color: #e0ff00;
	margin-top: 10px;
	margin-bottom: 10px;
}

h6{
	background-color: #1E1E1E;
	color: #e0ff00;
	font-family: 'mencken-std-head-narrow';
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
	transform: rotate(3deg);
}
.h6-2{
	transform: rotate(-3deg);
	background-color: #e0ff00;
	color: #1E1E1E;
}

.problems{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	color: #1E1E1E;
	margin-top: 20px;
	margin-bottom: 20px;
}

.problems-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	color: #EFEFEF;
	margin-bottom: 20px;
}

.problem{
	color: #EFEFEF;
	background-color: #1E1E1E;
	font-family: 'mencken-std-head-narrow';
	font-size: 20px;
	line-height: 30px;
	padding: 10px;
}