body{
	background-color: #1E1E1E;
}
.heading{
	margin-bottom: 20px;
	overflow: hidden;
	padding-left: 0;
	margin: 0;
	background-color:#EFEFEF;
}
h1{
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 104px;
	text-transform: uppercase;
	color: #1E1E1E;
	text-align: left;
	padding: 0;
}
h4{
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	color: #1E1E1E;
	background-color: #00FFBC;
}

.publishyear{
	font-size: 80px;
	font-family: 'NeueBit';
	font-weight: bold;
	color: #1E1E1E;
	line-height: 0.3;
	padding-top: 30px;
	padding-bottom: 30px;
}

p{
	font-family: 'haboro-soft';
	color: #EFEFEF;
	font-size: 15px;
	line-height: 1.5;
}

.intro{
	font-family: 'haboro-soft';
	font-style: italic;
	color: #EFEFEF;
	margin-bottom: 20px;
	margin-top: 20px;
}
.quotesection{
	background-color: #EFEFEF;
	margin-top: 20px;
	padding: 20px;
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 35px;
	line-height: 35px;
}

.quote{
	font-family: 'NeueBit';
	font-weight: bold;
	color: #00FFBC;
}

.mark-1{
	font-size: 200px;
	color: #00FFBC;
	font-family: 'NeueBit';
	font-weight: bold;
	margin: auto;
	margin-bottom: -140px;
	text-align: left;
	margin-top: 10px;
	line-height: 0.8;
}
.mark-2{
	font-size: 200px;
	color: #00FFBC;
	font-family: 'NeueBit';
	font-weight: bold;
	margin-top: -30px;
	margin-bottom: -90px;
	text-align: right;
	line-height: 0.8;
}

.subtitle{
	background-color: #00FFBC;
	margin-bottom: 20px;
	position: sticky;
	top: 0;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
h2{
	padding: 0;
	font-size:50px;
	color:#1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	text-transform: uppercase;
}
.feedback-section{
	position: relative;
	margin-top: 20px;
}
.name{
	color:#1E1E1E;
	font-size: 40px;
}

.answers{
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 30px;
	line-height: 1;
}

.account{
	color:#1E1E1E;
	font-size: 20px;
	text-align: right;
}

.stickynote-1{
	position: sticky;
	z-index: 1;
	top: 0px;
	background-color: #00FFBC;
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
}

.stickynote-2{
	position: sticky;
	z-index: 2;
	top: 30px;
	background-color: #EFEFEF;
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
}

.stickynote-3{
	position: sticky;
	z-index: 3;
	top:60px;
	background-color: #00FFBC;
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
}

.stickynote-4{
	position: sticky;
	z-index: 4;
	top:90px;
	background-color: #EFEFEF;
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
}

.stickynote-5{
	position: sticky;
	z-index: 5;
	top: 120px;
	background-color: #00FFBC;
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
}

.stickynote-6{
	position: sticky;
	z-index: 6;
	top: 150px;
	background-color: #EFEFEF;
	color: #1E1E1E;
	font-family: 'NeueBit';
	font-weight: bold;
	padding: 20px;
	margin-bottom: -60px;
}

.stickydown{
	margin-top: 90px;
}
h4{
	background-color: #00FFBC;
	color: #1E1E1E;
	font-family: 'NeueBit';
}

h5{
	color: #00FFBC;
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.looks{
	margin-top: 20px;
	margin-bottom: 20px;
}

h6{
	background-color: #EFEFEF;
	color: #1E1E1E;
	font-family: 'NeueBit';
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
	transform: rotate(3deg);
}
.h6-2{
	transform: rotate(-3deg);
	background-color: #00FFBC;
	color:#1E1E1E;
}

.problems{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	color: #1E1E1E;
	margin-top: 20px;
	margin-bottom: 20px;
}

.problems-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	color: #EFEFEF;
	margin-top: 20px;
	margin-bottom: 20px;
}

.problem{
	color: #1E1E1E;
	background-color: #EFEFEF;
	font-family: 'NeueBit';
	font-weight: bold;
	font-size: 35px;
	line-height: 30px;
	padding: 10px;
}

@font-face {
    font-family: 'NeueBit';
    src: url('/fonts/NeueBit-Bold.woff2') format('woff2'),
         url('/fonts/NeueBit-Bold.woff') format('woff');
    font-weight: bold;
}

